<% if defined?(hed) && defined?(subhed) %>
  <h1><%= hed %></h1>
  <hr class="small">
  <span class="subheading"><%= subhed %></span>
<% else %>
  <h1>Zim the Great Invader</h1>
  <hr class="small">
  <span class="subheading">Ah, the stink of clean!</span>
<% end %>
