<p>Aww, it's true. I've been hiding it for so long. Yeah, and if you were the pope they'd be all, "Straighten your pope hat." And "Put on your good vestments." Hey, what kinda party is this? There's no booze and only one hooker.</p>

<p>I was all of history's great robot actors - Acting Unit 0.8; Thespomat; David Duchovny! Oh sure! Blame the wizards! Oh yeah, good luck with that. And I'd do it again! And perhaps a third time! But that would be it.</p>

<h2 class="subheading">Doom....Doom.....Doom....</h2>

<p>Take me to your leader! Incidentally, you have a dime up your nose. When will that be? Ask her how her day was. Yes! In your face, Gandhi!</p>
